@import url('https://fonts.googleapis.com/css2?family=Truculenta:opsz,wght@12..72,100..900&display=swap');

:root{
    --clr-dark: #2b2b2b;
    --clr-light: #ffffff;
    --clr-primary:   #1b8b83;
    --clr-Secondary: #cfa584;
    --clr-tertiary: #d9d9d9;
    --truculenta: "Truculenta", sans-serif;
}

*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  *:before,
  *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  html,
  body,
  div,
  span,
  applet,
  object,
  iframe,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  blockquote,
  pre,
  a,
  abbr,
  acronym,
  address,
  big,
  cite,
  code,
  del,
  dfn,
  em,
  font,
  ins,
  kbd,
  q,
  s,
  samp,
  small,
  strike,
  strong,
  sub,
  sup,
  tt,
  var,
  dl,
  dt,
  dd,
  ol,
  ul,
  li,
  fieldset,
  form,
  label,
  legend,
  table,
  caption,
  tbody,
  tfoot,
  thead,
  tr,
  th,
  td {
    border: 0;
    font-family: inherit;
    font-size: 100%;
    font-style: inherit;
    font-weight: inherit;
    margin: 0;
    outline: 0;
    padding: 0;
    vertical-align: baseline;
    scroll-behavior: smooth;
    list-style: none;
  }
  
  html {
    font-size: 62.5%;
    height: 100%;
  }
  
  body {
    color: #2b2b2b;
    font-family: var(--truculenta);
    font-size: 1.6rem;
    overflow-x: hidden;
    line-height: 1.4;
  }
  
  table {
    border-collapse: collapse;
    border-spacing: 0;
  }
  p
  article,
  aside,
  footer,
  header,
  nav,
  section,
  time {
    display: block;
  }
  
  a {
    text-decoration: none;
  }
  img {
    max-width: 100%;
  }


  .container{
    width: 100%;
    max-width: 150rem;
    margin: 0 auto;
    padding: 0 5rem;
  }

  /* Header */

.header{
    z-index: 9999;
    background-color: var(--clr-tertiary);
    padding: 1rem 0;
    position: fixed;
    width: 100%;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

  .header__wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .header__nav{
    display: flex;
    gap: 5rem;
  }
  .header__nav li a{
    font-size: 2rem;
    color: var(--clr-dark);
    font-weight: 700;
  }
  .header__nav li a:hover{
    color: var(--clr-primary);
  }

  /* Toggle Menu */
    .toggle__menu{
        display: none;
    }
    .toggle__menu span{
        color: var(--clr-dark);
        width: 3rem;
        height: 0.3rem;
        border: 2px solid var(--clr-dark);
        border-radius: 1rem;
    }
    /* Mobile Responsive for Header */
    @media screen and (max-width: 520px) {
        .toggle__menu{
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
        }
        .header__nav{
          position: fixed;
          height: 100vh;
          width: 100%;
          background-color: var(--clr-tertiary);
          top: 0;
          display: flex;
          flex-direction: column;
          justify-content: center;
          text-align: center;
          right: -100%;
          z-index: 9999;
          transform: translateY(-18rem);
          margin-top: 28rem;
          transition: .5s ease;
        }
        .header__nav.open{
            right: 0;
            transition: .5s ease;
        }
        .header img{
            width: 12rem;

        }
        .toggle__menu.open span:nth-child(1){
            transform: translate(0, 10px) rotate(225deg);
            transition: 0.5s ease;
        }   
        .toggle__menu.open span:nth-child(2){
            opacity: 0;
        }
        .toggle__menu.open span:nth-child(3){
            transform: translate(0, -8px) rotate(-225deg);
            transition: 0.5s ease;
        }
        
    }

  /* TOP DETAILS */
  .top{
    background-color: var(--clr-Secondary);
    padding-top: 13rem;
    padding-bottom: 2rem;
    text-align: center;
  }

  .top span{
    font-size: 1.7rem;
    font-weight: 100;
    margin-bottom: 5rem;
  }
  .top h4{
    line-height: 2rem;
    font-weight: 700;
    font-size: 3rem;
  }


  /* HOME */
.homeBanner{
    padding: 5rem 0;
    
}
.homeBanner__wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.homeBanner__text{
    max-width: 80rem;
}
.homeBanner__text ul {
    margin-bottom: 3rem;
}
.homeBanner__text ul li{
    line-height: 5rem;
}
.homeBanner__text ul li:nth-child(1){
    color: var(--clr-primary);
    font-size: 5rem;
    font-weight: 700;
}

.homeBanner__text ul li:nth-child(2){
    color: var(--clr-Secondary);
    font-size: 5rem;
    font-weight: 700;
    margin-left: 7rem;
}
.homeBanner__text ul li:nth-child(3){
    color: var(--clr-primary);
    font-size: 5rem;
    font-weight: 100;
}
.homeBanner__text ul li:nth-child(3)::before{
    display: inline-block;
    position: relative;
    content: " ";
    background-color: var(--clr-primary);
    width: 20rem;
    height: 0.2rem;
    bottom: 1rem;
    right:  1rem;
} 
.homeBanner__text p{
    margin-bottom: 3rem;
}
.homeBanner__img{
    display: flex;
    gap: 2rem;
    padding: 5rem 0;
}
.homeBanner__img img:last-child{
    position: relative;
    top: 4rem; 

   
}
 /* Mobile Responsive for Home Banner */
 @media screen and (max-width: 520px) {
    .homeBanner__wrapper{
        flex-direction: column;
}
.homeBanner__text ul li:nth-child(3)::before{
    width: 1rem;
}
.homeBanner__text{
    margin-bottom: 5rem;
}
.homeBanner__img img{
    display: none;
}
}

/* ASSET */
.btn{
    background-color: transparent;
    border: transparent;
    border-radius: 10rem;
    padding: 1rem 2rem;
    color: transparent;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.btn.bg--tertiary{
    background-color: var(--clr-tertiary);
    color: var(--clr-dark);
    border: 1px solid var();
    font-weight: 700;
}
.btn.bg--tertiary:hover{
    background-color: var(--clr-dark);
    color: var(--clr-tertiary);

}
/* HOME ABOUT */

.homeAbout{
    background: var(--clr-dark);
    padding: 5rem 0;
}

.homeAbout__title{
    color: var(--clr-primary);
    font-size: 3rem;
}
.homeAbout__title::before{
    display: inline-block;
    position: relative;
    content: " ";
    background-color: var(--clr-primary);
    width: 120rem;
    height: 0.2rem;
    bottom: 0.5rem;
    right:  1rem;
}
.homeAbout__wrapper{
    display: flex;
    justify-content: space-between;
    
}
.homeAbout__img{
    margin-top: 2rem;
}
.homeAbout__text{
    padding-top: 5rem;
    max-width: 90rem;
    color: var(--clr-light);
}
.homeAbout__text p{
    padding: 2rem;
}

 /* Mobile Responsive for Home Banner */
 @media screen and (max-width: 520px){
    .homeAbout__title::before, .homeAbout__img img{
        display: none;
    }
 }

/* CATALOG */
.homeCatalog{
    padding: 5rem 0;
    background-color: var(--clr-tertiary);
}
.homeCatalog__title{
    color: var(--clr-primary);
    font-size: 4rem;
    margin-bottom: 3rem;
}
.homeCatalog__title::after{
    display: inline-block;
    position: relative;
    content: " ";
    background-color: var(--clr-primary);
    width: 128rem;
    height: 0.2rem;
    bottom: 0.5rem;
    left:  1rem;
}
.homeCatalog__wrapper{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem,1fr));
    justify-items: center;
}

.homeCatalog__card{
    background-color: var(--clr-light);
    max-width:  35rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

}
.homeCatalog__card img{
    width: 35rem;
}
.homeCatalog__card--details{
    padding: 2rem;
}
.homeCatalog__card--details h3{
    font-size: 2.5rem;
    font-weight: 700;
    color: var(--clr-Secondary);
    margin-bottom: 1rem;    
}
.homeCatalog__card--details p {
    margin-bottom: 1rem;
}
/* Mobile Responsive for Home Catalog */
@media screen and (max-width: 520px){
    .homeCatalog__title::after{
        display: none;
    }
    .homeCatalog__wrapper{
        gap: 3rem;
    }
}


.calltoAction{
    background-color: var(--clr-primary);
    padding: 5rem 0;
}
.calltoAction__title{
    text-align: center;
    font-size: 2.5rem;
    font-weight: 700;
}
.calltoAction__text{
    text-align: center;
}
.calltoAction__text p {
    margin-bottom: 2rem;
}
/* Mobile Responsive for Home CTA */
@media screen and (max-width: 520px){
    .homeCatalog__wrapper h2{
        font-size: 2.5rem;
    }
}

/* FOOTER */
.footer{
    padding: 3rem;
    background-color: var(--clr-dark);
    color: var(--clr-light);
}
.footer__wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.footer__social{
    display: flex;
    gap: 1.5rem;
    
}
.footer__social li a{
    color: var(--clr-light);
}
/* Mobile Responsive for Home Footer */
@media screen and (max-width: 520px){
    .footer__wrapper{
        flex-direction: column;
    }
}


/* ABOUT */

.About{
    padding-top: 13rem;
}
.About__wrapper{
    display: flex;
    justify-content: space-between;
    padding: 5rem 0;
}

.About__text{
    max-width: 80rem;
    margin-top: 20rem;
}
h1{
    font-size: 5rem;  
    letter-spacing: 2rem;
    font-weight: 700;
}
.About__text p{
    margin-top: 2rem;
   
    
}
h4::before{
    display: inline-block;
    position: relative;
    content: " ";
    background-color: var(--clr-dark);
    width: 37rem;
    height: 0.2rem;
    bottom: 0.5rem;
    right: 0.5rem;
    
}

.About__icons{
    font-size: 2.5rem;
    letter-spacing: 0.5rem;
    padding-top: 3rem;
    
}
.About__icons a{
    color: var(--clr-dark);
}
/* Mobile Responsive for About  in Bannner*/
@media screen and (max-width: 520px){
    .About__wrapper{
        display:inline;
     
    }
    .About h4{
        text-align: center;
    }
    .About__text{
        margin: 1rem;
        text-align: center;
    }
    .About__text p{
        text-align: left;
    }
}



/* ABOUT CATALOG */
.aboutCatalog{
    padding: 5rem 0;
    background-color: var(--clr-dark);
}
.aboutCatalog__title{
    color: var(--clr-primary);
    font-size: 4rem;
    margin-bottom: 2rem;
}
.aboutCatalog__title::after{
    display: inline-block;
    position: relative;
    content: " ";
    background-color: var(--clr-primary);
    width: 1rem;
    height: 0.2rem;
    bottom: 0.5rem;
    left:  1rem;
}
.aboutCatalog h2{
    color: var(--clr-primary); 
    padding-left: 4.5rem;
    font-size: 3rem;
    font-weight: 700;

}
.aboutp{
    color: var(--clr-light);
    gap:1rem;
    padding-left: 3.5rem;
    margin: 1rem;
  
}
.aboutCatalog__wrapper{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(40rem,1fr));
    justify-items: center;
    gap: 4rem;
}

.aboutCatalog__card{
    background-color: var(--clr-light);
    max-width:  35rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

}
.aboutCatalog__card img{
    width: 35rem;
}
.aboutCatalog__card--details{
    padding: 2rem;
}
.aboutCatalog__card--details h3{
    font-size: 2.5rem;
    font-weight: 700;
    color: var(--clr-Secondary);
    margin-bottom: 1rem;    
}
.aboutCatalog__card--details p {
    margin-bottom: 1rem;
}
/* Mobile Responsive for About  in Catalog*/
@media screen and (max-width: 520px){
    .aboutCatalog h2{
        padding-left: 3.5rem;
    }
    .aboutp{
        margin-left: 0rem;
    }
}


/* Catalog Banner */
.catalogBanner{
    
    background-image: linear-gradient(rgba(255,255,255,0.5),rgba(255,255,255,0.5)) ,url(/catalog-banner.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.catalogBanner__wrapper{
    display: flex;
    flex-direction: column;
   justify-content: center;
    text-align: center;
    height: 100vh;
    
}
.catalogBanner h1{
    font-size: 7rem;
    font-weight: 700;
    color: var(--clr-primary);

}
.catalogBanner p{
    font-size: 3rem;
}


.package{
    padding-top: 2rem;
    background-color: var(--clr-light);
}
.package__title{
    text-align: center;
    font-size: 2.5rem;
    font-weight: 700;
    color: var(--clr-primary);
    gap: 5rem;
}
.package__card1{
    display: flex;    
    text-align: justify;
    padding-left: 5rem;
}
.package__name{
    max-width: 60rem;
    padding-left: 5rem;
    padding-top: 15rem;
}
.package__name h2{
    font-size: 2.5rem;
    font-weight: 700;
    color: var(--clr-primary);
}
.package__card1 img{
    padding-top: 8rem;
    margin-left: 30rem;
    padding: 5rem 0;
 
}
.package__card1:nth-child(even)::before{
    display: inline-block;
    position: absolute;
    content: " ";
    background-color: var(--clr-Secondary);
    width: 48%;
    height: 37rem;
    right: 0;
    z-index: -9999999;
}


/* Catalog Banner2 */
.package__card2{
    display: flex;
    flex-direction: row-reverse;
    padding-right: 40rem;
    padding-top: 5rem;
}
.package__card2 h2{
    font-size: 2.5rem;
    font-weight: 700;
    color: var(--clr-primary);
}
.package__card2 p{
    text-align: justify;
}
.package__name2{
    max-width: 55rem;
    padding-top: 6rem;
    margin-right: 5rem;
}
/* ABOUT CALL TO ACTION */
.aboutcalltoAction{
    background-color: var(--clr-primary);
    padding: 5rem 0;
}
.aboutcalltoAction__title{
    text-align: center;
    font-size: 2.5rem;
    font-weight: 700;
}
.aboutcalltoAction__text{
    text-align: center;
}
.aboutcalltoAction__text p {
    margin-bottom: 2rem;
}
/* Mobile Responsive for About  in CTA*/
@media screen and (max-width: 520px){
    .aboutcalltoAction__title{
        font-size: 2.5rem;
    }
}


/* ABOUT FOOTER */
.Aboutfooter{
    padding: 3rem;
    background-color: var(--clr-dark);
    color: var(--clr-light);
}
.aboutfooter__wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.aboutfooter__social{
    display: flex;
    gap: 1.5rem;
    
}
.aboutfooter__social li a{
    color: var(--clr-light);
}
/* Mobile Responsive for About Footer */
@media screen and (max-width: 520px){
    .aboutfooter__wrapper{
        flex-direction: column;
    }
}